@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --my-purple: #cb57f7;
}
.bgPurple {
    background-color: #cb57f7;
}

.textPurple {
    color: #cb57f7;
}

.b {
    border: 2px solid red;
}